.detalle-publicacion-container{
    background-color: white;
    height: 90vh;
    width: 90%;
    border-radius: 8px;
    padding: 46px 45px 40px 45px;
    overflow-y: scroll;
}

.detalle-publicacion-container .carousel {
    height: 300px;
    width: 400px;
}

.detalle-publicacion-container .carousel .carousel-inner {
    height: 100%;
}

.detalle-publicacion-container .carousel .carousel-item {
    height: 100%;
}

.detalle-publicacion-container .carousel .carousel-item img {
    height: 100%;
}